<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="../static/styles/about_us.css">
	<link rel="stylesheet" href="../static/styles/navbar.css">
</head>
<body>
	<nav class="navbar">
		<div class="logo">
			<img src="../static/images/Logo.png">
			<p1>Policy &nbsp</p1> <p2>Finder</p2>
		</div>
		<a href="#" class="toggle">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</a>
		<div class="navbar-links">
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="support">Support</a></li>
				<li><a href="userLogin">User Login</a></li>
				<!-- <li><a href="officerlogin.html">Admin Login</a></li> -->
			</ul>
		</div>
	</nav>
	<main>
		<section id="about">
			<h1>About Us</h1>
			<p>We are a team of professionals dedicated to providing high quality services to our clients.</p>
			<p>Our mission is to help our clients achieve their goals by providing them with innovative solutions and exceptional customer service.</p>
		</section>
		<section id="team">
			<h2>Meet Our Team</h2>
            <div class="member">
				<img src="../static/images/naman.jpg" alt="Member 1" width="120" height="130">
				<h3>MAYANK YADAV</h3>
				<p>22EUCCS061</p>
			</div>
			<div class="member">
				<img src="../static/images/tanish.png" alt="Member 2" width="120" height="130">
				<h3>KRISH  KHANDELWAL</h3>
				<p>22EUCCS053</p>
			</div>
            <div class="member">
				<img src="../static/images/anujk.png" alt="Member 3" width="120" height="130">
				<h3>TANISH</h3>
				<p>22EUCCS074</p>
			</div>
			<div class="member">
				<img src="../static/images/nikunj.png" alt="Member 4" width="120" height="130">
				<h3>YUJVENDRA</h3>
				<p>22EUCCS089</p>
			</div>
			<div class="member">
				<img src="../static/images/pulkit.png" alt="Member 5" width="120" height="130">
				<h3>SURBHI</h3>
				<p>22EUCCS069</p>
			</div>
		</section>
	</main>
	<footer>
		<p>&copy; 2025 Policyfinder.com. All Rights Reserved.</p>
	</footer>
</body>
</html>
